<!DOCTYPE html>
<!--
THIS I S THE LAYOUT FOR ALL THE PAGES THAT WILL USE THIS WEBSITE
-->
<html>
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title%}
       <title>Secats - {{title}}</title>
    {% else %}
        <title>Secats</title>
    {% endif%}

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    <div class="container-fluid">
      <h1>SECATS</h1>
    </div>
    <!--INICIA NAVBAR-->
      <div class="navbar-fixed">
        <nav class="blue">
          <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Mi Logo</a>
            <a href="#" data-target="#mobile-demo" class="sidenav-trigger">
              <i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">
              <li><a href="#">One Item</a></li>
              <li><a href="#">One Item</a></li>
              <li><a href="#">One Item</a></li>
              <li>
                <a href="#!" class="dropdown-trigger"  data-activates="#dropdown1">Dropdown
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
                <ul id="dropdown1" class="dropdown-content" tabindex="0">
                  <li><a href="#">one</a></li>
                  <li><a href="#">two</a></li>
                  <li class="divider"></li>
                  <li><a href="#">three</a></li>
                </ul>
              </li>
            </ul>
          </div>

        </nav>
      </div>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="#">One Item</a></li>
        <li><a href="#">One Item</a></li>
        <li><a href="#">One Item</a></li>
        <li>
          <a href="#" class="dropdown-trigger"  data-target="dropdown1">Dropdown
            <i class="material-icons right">arrow_drop_down</i>
          </a>
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#">one</a></li>
            <li><a href="#">two</a></li>
            <li class="divider"></li>
            <li><a href="#">three</a></li>
          </ul>
      </ul>
    <!--FINALIZA NAVBAR-->
    <div class="container">
    {% block content %}{% endblock %}
    </div>
      <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</html>