{% extends "layout.html" %}
<!--
    The next content will have the part of the mtmlm body and
    use the layout for the rest of the html document
    {% macro mult (a, b=2) %}\
            {{a + b}}.\n\
            {% endmacro %}
-->
{% block content %}
    <h1>Products MF</h1>
    {% for post in posts%}
        

        <p><h2>PRODUCTO</h2><h4>{{post.Nombre}}</h4></p>
        <p><h5>Precio ${{"%.1f"|format(post.costo|float*1.4) }} </h5></p>
        <center><img src={{post.linkImagen}}></center>
        
    {%endfor%}

{% endblock content %}